DATABRICKS_HOST=https://adb-xxx.azuredatabricks.net
DATABRICKS_TOKEN=dapi...
DATABRICKS_SQL_HTTP_PATH=/sql/1.0/warehouses/xxx
DATABRICKS_JOB_ID=123456
CRON_SECRET=replace-with-a-long-random-string
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxx/xxx
